First Week
Get an understanding of what all these terms mean, I would suggest you do some research online for each one of these terms and get a basic understanding. Feel free to just go up and ask anyone in the team what any of these mean.
Django
HTTP(Request Body, cookies, etc)
TCP/IP
DNS
Single Page Application
Request Response Cycle
Celery (Background Workers)
AMQP
Relational Databases
PostgreSQL
Django Admin
SMTP Protocol
Elasticsearch
Redis
CDN
Amazon S3
Ajaz
JQuery
Localhost
IP and Port in URLs
Version Control & Git
Complete these features
A simple web page that takes in email as an input and sends an email to this email address with “hello world” as the subject and body of this email.
Make a model in Django with PostgreSQL as the DB, make another  model with a foreign key relationship to this model and make an Admin model with the Foreign key nested in the main model
Make an elasticsearch index, add some data to it and retrieve the data and show it. That is,  make a simple page that takes in the name, email and phone number of users and stores it in elasticsearch and displays all the names, emails and phone numbers stored in a list.
Talk to people 
Talk to Khumaan and other members of the customer success team, take out 15-30 minutes from each person in the team and have a chat with them about what they do and what their pain points are and how they use the admin panel.
Talk to E Prashant, Mahima & Neil about what they and their team do in TapChief
Talk to Binay and Shashank
Whenever you want to talk to anyone make sure you ping them on slack first, take out some time (15-30 minutes) and then chat with them. Would help them in not getting disrupted in the work they are doing
Learn about the CS Pod in depth, by making a few calls and shadowing on a few projects
Second Week
How our git process and deploy process works
Setting up our entire backend system on your local machine
Making docker pushes
Understanding different parts of our product
AdviceSessions and session packages
Video Session packages
User and Expert profiles
TC Wallet
Logging in Django
First production release!
Third Week
More production releases
Postman & Swagger API documentation and testing
RESTful Architecture
Fourth Week
12 factor app understanding
More production releases
Fifth Week
More production releases
Start of learning Angular 
Components 
Services
Templates and Basic setup of Angular
Sixth Week
More production releases
Angular learning
Router
Forms
Directives
Seventh Week
Production release in Angular!

